// Breakpoints

$breakpoint-xs: 320px; // Extra small devices (phones, less than 576px)
$breakpoint-sm: 576px; // Small devices (landscape phones, 576px and up)
$breakpoint-md: 768px; // Medium devices (tablets, 768px and up)
$breakpoint-lg: 992px; // Large devices (desktops, 992px and up)
$breakpoint-xl: 1200px; // Extra large devices (large desktops, 1200px and up)

// Colors
$beige: #cbbb9b;
$darkblue: #25283b;
$opal: #6baeb6;
$greyblue: #446e84;
$brown: #794841;
$lightblue: #4e8ca8;
$mauve: #4d3646;
$ground: #a14e39;
$darkgreen: #3e6a64;
$white: #fff;
